@page "/categories/create"
@using Microsoft.EntityFrameworkCore
@using Project_PiggyPro.Domain
@inject IDbContextFactory<Project_PiggyPro.Data.Project_PiggyProContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Category</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Category" OnValidSubmit="AddCategory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="categoryname" class="form-label">CategoryName:</label> 
                <InputText id="categoryname" @bind-Value="Category.CategoryName" class="form-control" /> 
                <ValidationMessage For="() => Category.CategoryName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="categorytype" class="form-label">CategoryType:</label> 
                <InputText id="categorytype" @bind-Value="Category.CategoryType" class="form-control" /> 
                <ValidationMessage For="() => Category.CategoryType" class="text-danger" /> 
            </div>             
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Category.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Category.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Category.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Category.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Category.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Category.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Category.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Category.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/categories">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Category Category { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCategory()
    {
        using var context = DbFactory.CreateDbContext();
        context.Category.Add(Category);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/categories");
    }
}
