@page "/transactions/edit"
@using Microsoft.EntityFrameworkCore
@using Project_PiggyPro.Domain
@inject IDbContextFactory<Project_PiggyPro.Data.Project_PiggyProContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Transaction</h2>
<hr />
@if (Transaction is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Transaction" OnValidSubmit="UpdateTransaction" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Transaction.Id" value="@Transaction.Id" />
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <InputNumber id="amount" @bind-Value="Transaction.Amount" class="form-control" />
                    <ValidationMessage For="() => Transaction.Amount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="transactiondate" class="form-label">TransactionDate:</label>
                    <InputDate id="transactiondate" @bind-Value="Transaction.TransactionDate" class="form-control" />
                    <ValidationMessage For="() => Transaction.TransactionDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="transactiontype" class="form-label">TransactionType:</label>
                    <InputText id="transactiontype" @bind-Value="Transaction.TransactionType" class="form-control" />
                    <ValidationMessage For="() => Transaction.TransactionType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Transaction.Description" class="form-control" />
                    <ValidationMessage For="() => Transaction.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="appuserid" class="form-label">AppUserId:</label>
                    <InputNumber id="appuserid" @bind-Value="Transaction.AppUserId" class="form-control" />
                    <ValidationMessage For="() => Transaction.AppUserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoryid" class="form-label">CategoryId:</label>
                    <InputNumber id="categoryid" @bind-Value="Transaction.CategoryId" class="form-control" />
                    <ValidationMessage For="() => Transaction.CategoryId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Transaction.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Transaction.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Transaction.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Transaction.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Transaction.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Transaction.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Transaction.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Transaction.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/transactions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Transaction? Transaction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Transaction ??= await context.Transaction.FirstOrDefaultAsync(m => m.Id == Id);

        if (Transaction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTransaction()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Transaction!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TransactionExists(Transaction!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/transactions");
    }

    private bool TransactionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Transaction.Any(e => e.Id == id);
    }
}
