@page "/transactions"
@layout UserLayout
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project_PiggyPro.Components.Layout
@using Project_PiggyPro.Domain
@using Project_PiggyPro.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project_PiggyPro.Data.Project_PiggyProContext> DbFactory

<PageTitle>Transactions - PiggyPro</PageTitle>

<div class="page-header">
    <div>
        <h1>All Transactions</h1>
        <p class="subtitle">Manage your income and expenses</p>
    </div>
    <a href="/transactions/create" class="btn-primary">+ Add Transaction</a>
</div>

<QuickGrid Class="table" Items="context.Transaction">
    <PropertyColumn Property="transaction => transaction.Amount" />
    <PropertyColumn Property="transaction => transaction.TransactionDate" />
    <PropertyColumn Property="transaction => transaction.TransactionType" />
    <PropertyColumn Property="transaction => transaction.Description" />
    <PropertyColumn Property="transaction => transaction.AppUserId" />
    <PropertyColumn Property="transaction => transaction.CategoryId" />
    <PropertyColumn Property="transaction => transaction.DateCreated" />
    <PropertyColumn Property="transaction => transaction.DateUpdated" />
    <PropertyColumn Property="transaction => transaction.CreatedBy" />
    <PropertyColumn Property="transaction => transaction.UpdatedBy" />
    <TemplateColumn Context="transaction">
        <a href="@($"transactions/edit?Id={transaction.Id}")">Edit</a> |
        <a href="@($"transactions/details?Id={transaction.Id}")">Details</a> |
        <a href="@($"transactions/delete?Id={transaction.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Project_PiggyProContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}